.subHeader {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #232f3e;
    top: 0;
    z-index: 100;
    font-size: 14px;
}

.subHeader__left {
    display: flex;
    align-items: center;
}

.subHeader__menu {
    display: flex;
    align-items: center;
    margin-left: 11px;
    padding: 2px 5px;
    color: white;
    border: 1px solid transparent;
}

.subHeader__menu:hover {
    border: 1px solid whitesmoke;
    border-radius: 2px;
}

.subHeader__menuIcon {
    display: flex;
    width: 17px;
    height: 14px;
    background-position: -172px -255px;
    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
    background-repeat: repeat-x;
    font-size: 25px;
    color: #fff;
}

.subHeader__all {
    font-weight: 800;
    padding-left: 5px;
}

.subHeader__nav {
    font-weight: 500;
    color: white;
}

.subHeader__option {
    padding: 7px 8px;
    border: 1px solid transparent;
}

.subHeader__option:hover {
    border: 1px solid whitesmoke;
    border-radius: 2px;
}

.subHeader__navMsg {
    font-weight: 700;
    color: white;
}

.subHeader__msg {
    margin-right: 11px;
    padding: 5px 10px;
    border: 1px solid transparent;
}

.subHeader__msg:hover {
    border: 1px solid whitesmoke;
    border-radius: 2px;
}
