.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    z-index: 100;
}

.header__left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.header__logo {
    margin-left: 11px;
    width: auto;
    padding: 4px 0 0 0;
    line-height: 0;
    height: 100%;
}

.header__logoLink {
    display: flex;
    text-decoration: none;
    padding: 1px 8px 0 6px;
    margin: 1px;
    height: 50px;
    cursor: pointer;
}

.header__logoLink:hover {
    padding: 0 7px 0 5px;
    border: 1px solid;
    border-radius: 2px;
    border-color: #fff;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    /* height: 50px;
    width: 100%; */
}

.header__logoImg {
    display: flex;
    background-image: url(../../assets/amazin-logo.png);
    background-size: cover;
    margin-top: 12px;
    width: 105px;
    height: 33px;
}

.header__deliveryAddress {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    width: auto;
    height: 60px;
    padding: 0;
    margin: 0;
    margin-left: 2px;
    text-decoration: none;
    overflow: hidden;
}

.header__deliveryAddressModal {
    display: flex;
    width: fit-content;
}

.header__deliveryAddressPopoverLink {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: fit-content;
    height: auto;
    line-height: 39px;
    padding: 0 9px 0 9px;
    margin: 5px 2px 5px 0;
    box-sizing: border-box;
    box-shadow: none;
    scroll-margin: 0;
    overflow: hidden;
    color: #d6d6d6;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
}

.header__deliveryAddressPopoverLink:hover {
    border: 1px solid;
    border-radius: 2px;
    border-color: #fff;
    outline: 0;
    box-shadow: none;
    padding: 0 8px 0 6px;
    margin: 5px 2px;
}

.header__locationIcon {
    display: flex;
    margin-top: 8px;
    padding-right: 0;
    margin-right: 0;
}

.header__location {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 3px;
}

.header__locationLineOne {
    color: #ccc;
    margin-top: 0;
    padding-right: 0;
    font-size: 12px;
    font-weight: 400;
    height: 14px;
    line-height: 14px;
    white-space: nowrap;
}

.header__locationLineTwo {
    color: #fff;
    padding-bottom: 1px;
    padding-right: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
    white-space: nowrap;
}

.header__search {
    display: flex;
    flex: 1 1 auto;
    height: 60px;
    overflow: visible;
    width: auto;
    white-space: nowrap;
}

.header__searchNav {
    display: flex;
    margin: 0 10px;
    padding: 10px 4px 10px 3px;
    height: 60px;
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 4px 4px 4px 4px;
    box-sizing: border-box;
    width: auto;
}

.header__searchNavBar {
    display: flex;
    flex: 1 1 0px;
    height: 40px;
    margin-bottom: 0;
    border-radius: 4px 4px 4px 4px;
}

.header__searchNavScope {
    display: flex;
    background-color: #f3f3f3;
    background-image: none;
    border-left: 1px solid #f3f3f3;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    height: 38px;
    margin: 0;
    padding-left: 5px;
    overflow: hidden;
    border: 1px solid #cdcdcd;
    border-radius: 4px 0 0 4px;
    background-position: 0 -532px;
    background-repeat: repeat-x;
}

.header__searchNavScope:hover {
    background-color: #dadada;
    border-left-color: #dadada;
    border-top-color: #dadada;
    border-bottom-color: #dadada;
    cursor: pointer;
}

.header__searchNavFacade {
    position: relative;
    float: left;
    overflow: hidden;
    top: 3px;
}

.header__searchNavLabel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #555;
    font-size: 12px;
    line-height: 33px;
    margin-right: 5px;
    margin-left: 5px;
    min-width: 19px;
}

.header__searchNavBarCenter {
    display: flex;
    flex: 1 1 0px;
    height: auto;
    width: auto;
    white-space: nowrap;
}

.header__searchNavField {
    display: flex;
    flex: 1 1 0px;
    border: none;
    border-top: 1px solid transparent;
    height: 39px;
    background: #fff;
}

.header__searchInputText {
    display: flex;
    width: 100%;
    line-height: 15px;
    padding: 0 10px 0 0;
    margin: 0;
    border: 0;
    height: 38px;
    font-family: inherit;
    font-size: 15px;
    font-weight: 400;
    background: 0 0;
    color: #111;
    outline: 0;
    box-shadow: none;
    text-indent: 8px;
    direction: ltr;
    transition: all 0.1s linear;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-shadow: none;
    text-align: start;
    cursor: text;
}

.header__searchNavBarRight {
    display: flex;
    min-width: auto;
    height: auto;
}

.header__searchNavSubmit {
    display: flex;
    background-color: #64ade9;
    background-image: none;
    border: none;
    width: 45px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 0 4px 4px 0;
    background-position: 0 -381px;
}

.header__searchNavSubmit:hover {
    background-color: #539cd8;
    background-position: 0 -431px;
}

.header__searchNavSubmitText {
    display: flex;
    flex: 1 1 auto;
    width: auto;
    height: auto;
    background-position: 2px -280px;
    text-indent: -500px;
    color: #111;
    text-shadow: none;
    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
    background-repeat: repeat-x;
    cursor: pointer;
}

.header__searchInputSubmit {
    display: flex;
    height: 100%;
    width: 100%;
    font-size: 14px;
    padding: 0;
    margin: 0;
    cursor: pointer;
    outline: 0;
    color: #fff;
    background: 0 0;
    border: none;
    text-indent: -1000px;
    line-height: 1px;
    transition: all 0.1s linear;
}

.header__right {
    display: flex;
    height: 60px;
    /* height: auto; */
    width: auto;
    min-width: auto;
    box-sizing: border-box;
}

.header__navTools {
    display: flex;
    text-decoration: none;
    margin-top: 2px;
    padding: 3px 0 0 0;
}

.header__navTools > .header__navA {
    display: flex;
    padding: 0 9px 10px;
    flex-shrink: 0;
    flex-flow: column nowrap;
    justify-content: center;
    text-decoration: none;
}

.header__navFlyout {
    margin: 0 1px 0 1px;
    padding-bottom: 5px;
    height: 50px;
}

.header__navFlyout:hover {
    padding-right: 8px !important;
    padding-left: 8px !important;
    margin: 0 0 -1px 0;
    border-color: #fff;
    box-shadow: none;
    border: 1px solid;
    border-radius: 2px;
    outline: 0;
}

.header__navFlyout.header__navA {
    margin-right: 0;
    margin-left: 1px;
    padding-left: 9px;
}

.header__navA2 {
    overflow: hidden;
    /* top: 1px; */
    box-sizing: border-box;
}

.header__navA {
    color: #d6d6d6;
    /* line-height: 44px; */
}

a.header__navA {
    cursor: pointer;
}

.header__navLinkInner {
    display: flex;
    flex-flow: column nowrap;
    padding-right: 0;
    justify-content: center;
    margin: 0;
}

.header__navLine1 {
    /* padding-bottom: 2px; */
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    height: 14px;
    font-weight: 400;
    white-space: nowrap;
    margin-top: 9px;
}

.header__navLine2 {
    display: flex;
    flex-direction: row;
    margin-left: 1px;
    color: #fff;
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
    white-space: nowrap;
}

.header__navFlag {
    margin: 0 2px 1px 0;
    width: 24px;
    height: 18px;
    background-image: url(https://m.media-amazon.com/images/S/sash/jYdmIJv-COIU_a2.png);
}

.header__navFlagUS {
    background-position: 0 -130px;
}

.header__signIn {
    display: flex;
    margin-right: 0;
    margin-left: 2px;
    padding-right: 9px;
    padding-left: 9px;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: flex-start;
    text-decoration: none;
    height: 50px;
}

.header__signIn:hover {
    padding-right: 8px !important;
    padding-left: 8px !important;
    border-color: #fff;
    box-shadow: none;
    border: 1px solid;
    border-radius: 2px;
    margin: 0;
    outline: 0;
    margin-left: 2px;
}

.header__navLine1Container {
    position: relative;
    width: 100%;
    height: 14px;
    margin-top: 9px;
    color: #fff;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    white-space: nowrap;
}

.header__navLongWidth {
    display: flex;
}

.header__arrowFix {
    height: 0;
}

.header__orders {
    display: flex;
    margin-right: 0;
    margin-left: 2px;
    padding-right: 9px;
    padding-left: 9px;
    height: 50px;
}

.header__orders:hover {
    padding-right: 8px !important;
    padding-left: 8px !important;
    border-color: #fff;
    box-shadow: none;
    border: 1px solid;
    border-radius: 2px;
    margin: 0;
    outline: 0;
    margin-left: 2px;
}

.header__cart {
    flex-flow: row nowrap !important;
    padding: 0 9px 11px 10px;
    height: 50px;
    margin-left: 2px;
    margin-right: 11px;
    padding-left: 9px;
    padding-right: 9px;
    border-top: 1px solid transparent;
}

.header__cart:hover {
    padding-right: 8px !important;
    padding-left: 8px !important;
    border-color: #fff;
    box-shadow: none;
    border: 1px solid;
    border-radius: 2px;
    margin: 0;
    outline: 0;
    margin-left: 2px;
    margin-right: 11px;
    height: 51px;
}

.header__navCartCountContainer {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    padding-bottom: 1px;
    justify-content: flex-end;
    align-items: flex-start;
}

.header__navCartCount {
    position: absolute;
    left: 13px;
    right: auto;
    top: 8px;
    justify-content: center;
    color: #f08804;
    font-weight: 700;
    font-family: inherit;
    line-height: 16px;
    text-align: center;
}

.header__navCart0 {
    font-size: 16px;
    width: 19px;
}

.header__navCartIcon {
    background-position: -10px -340px;
    width: 38px;
    height: 26px;
    /* display: block; */
    overflow: hidden;
    /* position: absolute; */
    left: 10px;
    top: 11px;
    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
    /* background-position: 0 1000px; */
    background-repeat: repeat-x;
}

.header__navCartTextContainer {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: flex-start;
}
