.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #131921;
    z-index: 100;
}

.header__left {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.header__logo {
    margin-left: 11px;
    width: auto;
    padding: 4px 0 0 0;
    line-height: 0;
    height: 100%;
}

.header__logoLink {
    display: flex;
    text-decoration: none;
    padding: 1px 8px 0 6px;
    margin: 1px;
    height: 50px;
    cursor: pointer;
}

.header__logoLink:hover {
    padding: 0 7px 0 5px;
    border: 1px solid;
    border-radius: 2px;
    border-color: #fff;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    /* height: 50px;
    width: 100%; */
}

.header__logoImg {
    display: flex;
    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
    text-indent: -500px;
    background-position: -10px -51px;
    background-repeat: repeat-x;
    margin-top: 12px;
    width: 97px;
    height: 30px;
}

.header__deliveryAddress {
    display: flex;
    /* align-items: center;
    justify-content: center; */
    width: auto;
    height: 60px;
    padding: 0;
    margin: 0;
    margin-left: 2px;
    text-decoration: none;
    overflow: hidden;
}

.header__deliveryAddressModal {
    display: flex;
    width: fit-content;
}

.header__deliveryAddressPopoverLink {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    width: fit-content;
    height: auto;
    line-height: 39px;
    padding: 0 9px 0 9px;
    margin: 5px 2px 5px 0;
    box-sizing: border-box;
    box-shadow: none;
    scroll-margin: 0;
    overflow: hidden;
    color: #d6d6d6;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
}

.header__deliveryAddressPopoverLink:hover {
    border: 1px solid;
    border-radius: 2px;
    border-color: #fff;
    outline: 0;
    box-shadow: none;
    padding: 0 8px 0 6px;
    margin: 5px 2px;
}

.header__locationIcon {
    display: flex;
    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
    background-position: -71px -378px;
    background-repeat: repeat-x;
    width: 15px;
    height: 18px;
    margin-top: 8px;
}

.header__location {
    display: flex;
    flex-flow: column nowrap;
    margin-left: 3px;
}

.header__locationLineOne {
    color: #ccc;
    margin-top: 0;
    padding-right: 0;
    font-size: 12px;
    font-weight: 400;
    height: 14px;
    line-height: 14px;
    white-space: nowrap;
}

.header__locationLineTwo {
    color: #fff;
    padding-bottom: 1px;
    padding-right: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 15px;
    white-space: nowrap;
}

.header__search {
    display: flex;
    flex: 1 1 auto;
    height: 60px;
    overflow: visible;
    width: auto;
    white-space: nowrap;
}

.header__searchNav {
    display: flex;
    margin: 0 10px;
    padding: 10px 4px 10px 3px;
    height: 60px;
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    border-radius: 4px 4px 4px 4px;
    box-sizing: border-box;
    width: auto;
}

.header__searchNavBar {
    display: flex;
    flex: 1 1 0px;
    height: 40px;
    margin-bottom: 0;
    border-radius: 4px 4px 4px 4px;
}

.header__searchNavScope {
    display: flex;
    background-color: #f3f3f3;
    background-image: none;
    border-left: 1px solid #f3f3f3;
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    height: 40px;
    margin: 0;
    padding-left: 5px;
    overflow: hidden;
    border: 1px solid #cdcdcd;
    border-radius: 4px 0 0 4px;
    background-position: 0 -532px;
    background-repeat: repeat-x;
}

.header__searchNavScope:hover {
    background-color: #dadada;
    border-left-color: #dadada;
    border-top-color: #dadada;
    border-bottom-color: #dadada;
    cursor: pointer;
}

.header__searchNavFacade {
    position: relative;
    float: left;
    overflow: hidden;
    top: 3px;
}

.header__searchNavLabel {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #555;
    font-size: 12px;
    line-height: 33px;
    margin-right: 21px;
    margin-left: 5px;
    min-width: 19px;
}

.header__searchNavIcon {
    position: absolute;
    top: 14px;
    right: 8px;
    border-style: solid;
    _border-style: dashed;
    border-width: 4px;
    border-color: transparent;
    border-top: 4px solid #666;
    border-bottom-width: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
}

.header__searchNavBarCenter {
    display: flex;
    flex: 1 1 0px;
    height: auto;
    width: auto;
    white-space: nowrap;
}

.header__searchNavField {
    display: flex;
    flex: 1 1 0px;
    border: none;
    border-top: 1px solid transparent;
    height: 40px;
    background: #fff;
}

.header__searchInput {
    display: flex;
    width: 100%;
    line-height: 15px;
    padding: 0 10px 0 0;
    margin: 0;
    border: 0;
    height: 38px;
    font-family: inherit;
    font-size: 15px;
    background: 0 0;
    color: #111;
    outline: 0;
    box-shadow: none;
    text-indent: 8px;
    direction: ltr;
    transition: all 0.1s linear;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-shadow: none;
    text-align: start;
    -webkit-rtl-ordering: logical;
    cursor: text;
    font: 400 13.3333px Arial;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
}

.header__option {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.header__optionLineOne {
    font-size: 12px;
    font-weight: 500;
}

.header__optionLineTwo {
    font-size: 14px;
    font-weight: 800;
}

.header__optionCart {
    display: flex;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    position: relative;
}

.header__cartCount {
    position: absolute;
    top: -6px;
    left: 13px;
    font-size: 18px;
    font-weight: 500;
    color: red;
}
