.footer__navFooter {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: #232f3e;
    min-width: 1000px;
    /* position: relative; */
}

.footer__navBackToTop {
    margin-bottom: 40px;
    background-color: #37475a;
}

.footer__navBackToTopText {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 15px 0;
    line-height: 19px;
    font-size: 13px;
    margin-bottom: 40px;
    background-color: #37475a;
}

.footer__navFooterColumns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}

.footer__navFooterVerticalColumn {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    padding: 0 10px;
}

.footer__header {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin: 6px 0 14px 0;
    white-space: nowrap;
}

.footer__navFooterVerticalColumn ul {
    display: flex;
    flex-direction: column;
    color: #fff;
    font-size: 14px;
    padding-left: 0px;
}

.footer__navFooterVerticalColumn ul li {
    margin: 0 0 10px;
    list-style-type: none;
    white-space: nowrap;
}
