.footer__navFooter {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: #232f3e;
    min-width: 1000px;
}

.footer__navBackToTop {
    margin-bottom: 40px;
    background-color: #37475a;
}

.footer__navBackToTopText {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 15px 0;
    line-height: 19px;
    font-size: 13px;
    margin-bottom: 40px;
    background-color: #37475a;
}

.footer__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
}

.footer__navFooterEmptySpaceLine {
    border-top: 1px solid #3a4553;
    margin-top: 40px;
}

.footer__langCurrencyAndCountry {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    margin: 20px auto;
    text-align: center;
    max-width: 1000px;
    color: #ddd;
    line-height: 18px;
    white-space: nowrap;
}

.footer__langCurrencyAndCountry > span {
    padding: 10px;
    text-decoration: none;
}

.footer__navFooterLogo {
    background-image: url(https://images-na.ssl-images-amazon.com/images/G/01/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405937547_.png);
    background-position: -10px -90px;
    background-repeat: repeat-x;
    width: 76px;
    height: 23px;
    margin: 0 auto;
    margin-top: 5px;
}

.footer__optionsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 18px auto 0; */
    margin-left: 70px;
}

.footer__optionsContainer a {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #848688;
    border-radius: 3px;
    padding: 6px 18px 6px 8px;
    margin-right: 6px;
    color: #ddd;
}

.footer__globeIcon {
    background: url(https://m.media-amazon.com/images/S/sash/jYdmIJv-COIU_a2.png);
    background-position: -77px -24px;
    width: 14px;
    height: 14px;
    margin: 3px 10px 3px 0;
}

.footer__upDownArrow {
    background: url(https://m.media-amazon.com/images/S/sash/jYdmIJv-COIU_a2.png);
    width: 12px;
    height: 12px;
    background-position: -77px -80px;
    margin: 3px 0 3px 10px;
}

.footer__currencySymbol {
    color: #fff;
    font-size: 14px;
    margin: 2px 10px 0px 0;
}

.footer__flag {
    width: 18px;
    height: 12px;
    margin: 4px 10px 4px 0;
    background-image: url(https://m.media-amazon.com/images/S/sash/jYdmIJv-COIU_a2.png);
    background-position: -54px -108px;
}

.footer__moreOnAmazin {
    font-size: 12px;
    color: #ddd;
    line-height: 18px;
    white-space: nowrap;
    background-color: #131a22;
    padding: 30px 0;
    margin: 30px 0 0;
}

.footer__moreOnAmaizinContainer {
    max-width: 1000px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* grid-template-rows: repeat(7, 100px); */
    gap: 15px 40px;
}

.footer__cell {
    font-size: 11px !important;
    padding: 0 12px;
    text-align: left;
    line-height: 12px;
}

.footer__aTitle {
    color: #ddd;
    white-space: normal;
}

.footer__aDescText {
    font-size: 10px;
    line-height: 11px;
    color: #999;
    white-space: normal;
}

.footer__navFooterCopyright {
    background-color: #131a22;
    max-width: 100%;
    margin: 0;
    padding: 10px 0 30px;
    font-size: 12px;
    color: #ddd;
    text-align: center;
    line-height: 18px;
    white-space: nowrap;
}

.footer__navFooterCopyright ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}

.footer__navFooterCopyright ul li a {
    color: #ddd;
    text-decoration: none;
    padding: 0 7px;
}

.footer__navFooterCopyright .footer__navLast {
    color: #999;
}
