.productSliderWithScroll {
    width: 100%;
    min-width: 290px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.productSliderWithScroll__container {
    background: #fff;
    padding: 10px 20px;
    margin-bottom: 0px;
    box-sizing: border-box;
}

.productSliderWithScroll__titleSection {
    display: flex;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 25px;
    margin: 10px 0 0;
}

.productSliderWithScroll__titleSection h2 {
    display: flex;
    width: auto;
    font-size: 21px;
    line-height: 1.5 !important;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    padding-bottom: 0;
}

.productSliderWithScroll__titleSection h2 span {
    color: #444 !important;
}

.productSliderWithScroll__titleSection span {
    display: flex;
    width: auto;
    text-align: right;
    font-size: 14px;
    align-items: center;
    padding-left: 15px;
    line-height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.productSliderWithScroll__titleSection span a {
    text-decoration: none;
    color: #007185;
}

.productSliderWithScroll__carouselSection {
    width: 100%;
    margin: 0 0 5px;
    position: relative;
    overflow: hidden;
}
